.hero {
    background-color: var(--color-black);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 220px;
    width: 100%;
}

.hero-content {
    color: var(--color-white);
}

.hero-image img {
    display: block;
    margin: 0 auto;
}
